.dropdown__category {
  /* margin-top: 3rem; */
  position: relative;
  /* // outline: 1px solid red;
    // width: 10rem; */
  display: inline-block;
}
.filter__category {
  padding: 1em 5em 1em 1em;
  text-align: left;
  /* background-color: hsl(var(--Primary-100)) ;
  border-color: hsl(var(--Primary-100));
  color: hsl(var(--Primary-300)); */
  background-color: #06bf77;

  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  width: 20rem;
}
.category__list {
  margin-top: 0.4rem;
  padding-block: 1rem;
  padding-left: 1rem;
  /* color: hsl(var(--Primary-300));
  background-color: hsl(var(--Primary-100));
  border-color: hsl(var(--Primary-100));
  color: hsl(var(--Primary-300)); */
  background-color: #06bf77;
  cursor: pointer;
  border-radius: 0.5rem;
  position: absolute;
  width: 100%;
  display: none;
}

.plants__container {
  margin-top: 2rem;
}

.category__list.active {
  display: block;
}

.filter__plant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: -1;
  position: relative;
}

.filterByFamily {
  position: relative;
  z-index: 10;
}

.filterName {
  padding: 0.8em;
  border: 1px solid #06bf77;
  width: 20rem;
}
