*:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #157afe;
  --secondary: #808080;
  --bg-light: #fff;
}

body {
  font-family: "Inter", sans-serif;
  background: #fafafa;
}
